langchain~=0.3.26
psycopg2-binary~=2.9.10
langchain-core~=0.3.68
langchain-community~=0.3.27
langchain-openai~=0.3.27
python-dotenv~=1.1.1
faker~=37.4.0
flask~=3.1.1
sqlalchemy~=2.0.41
uvicorn~=0.35.0
mysql-connector-python~=9.3.0