{% if student_email %}
<h3>Most motivated student {{ student_email }}</h3>
{% endif %}

{% if metrics_table %}
<h4>Summary Table of Averages:</h4>
<table class="table table-sm table-striped align-middle">
    <thead>
        <tr>
            <th class="col-6">Metric</th>
            <th class="col-6">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in metrics_table %}
        <tr>
            <td class="fw-semibold">{{ row.label }}</td>
            <td>{{ row.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}