{% if analysis %}
<h4>Most motivated students:</h4>
    {% for row in analysis %}
        {% if row.student_analysis and row.student_analysis.metrics %}
            {% set email = row.email %}
            {% set metrics = row.student_analysis.metrics %}
            {% set metric_zone = row.student_analysis.metric_zone %}
            {% set subtotal = row.student_analysis.subtotal %}
            {% set total = row.student_analysis.total %}
            {% set motivation_message = row.student_analysis.motivation_message %}

            {% include 'partials/student_summary.html' %}
        {% endif %}
    {% endfor %}
{% endif %}